html {
    height: 100%;
}
body {
    background-color: rgba(20, 19, 19, 0.589);
    height: 100%;
}

h1 {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    background-color: black;
    color: rgba(76, 255, 60, 0.65);
    padding: 10px;
    border-radius: 8px;
    width: fit-content;
}
.layout {
    display: grid;
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 50px;
    grid-template-columns: auto auto;
    background-color: rgba(20, 19, 19, 0.589);
    color: white;
    grid-template-areas: "cb cb"
                         "cont lat"
                         "ft ft"       ;
    
}

.caja {
    background-color: black;
    border: 1px solid rgba(158, 152, 152, 0.589);
    box-shadow: 1px 1px 8px rgba(158, 152, 152, 0.589);
    padding: 6px;
    text-align: center;
    border-radius: 8px;
}

.cabecera {
    grid-area: cb;
}

.contenido {
    grid-area: cont;
}

.lateral {
    grid-area: lat;
}

.footer {
    grid-area: ft;
}