body {
    background-color: rgba(20, 19, 19, 0.589);
    margin: 0;
}

.navegacion {
    position: fixed;
    float: left;
    background-color: rgba(0, 0, 0, 0.87);
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 8px;
}

nav li {
    display: inline;
    margin: 0;
    padding: 8px;
    border-right: 1px solid rgba(54, 53, 53, 0.65);
}

nav li:hover {
    background-color: rgba(7, 5, 5, 0.931);
}

nav li a {
    font-family: Arial;
    text-decoration: none;
    color: rgba(33, 248, 13, 0.87);
}
 
nav li a:hover {
    text-shadow: 2px 2px 3px rgba(136, 240, 126, 0.87);
}

nav li:active {
    background-color: rgba(25, 143, 14, 0.87);
}

.idioma {
    float: right;
    margin-right: 80px;
    color: rgba(33, 248, 13, 0.87);
}

#contenido {
    z-index: 1;
}

#primerparrafo {
    margin-top: 50px;
}

.presentacion {
    margin: auto;
    width: fit-content;
    padding: 8px;
    background-color: black;
    color: rgba(136, 240, 126, 0.87);
    border: 1px solid rgba(210, 224, 208, 0.87);
    border-radius: 5px;
}

#cajaperfil {
    background-color: black;
    width: 40%;
    margin: auto;
    border: 1px solid rgba(210, 224, 208, 0.87);
    border-radius: 5px;
    border-top: 0;
    border-left: 0;
    padding: 10px;
}

#perfil {
    color: white;
    text-align: center;
    padding: 10px;
    text-shadow: 1.5px 1.5px 3px white;
}

.dropdown {
    display: inline;
}

.dropdown-btn {
    position: relative;
    background-color: rgba(33, 248, 13, 0.87);
    border: none;
    border-radius: 6px;
    padding: 6px;
    cursor: pointer;
}

.drpcontent {
    position: absolute;
    background-color: aliceblue;
    padding: 6px;
    display: none;
    border-radius: 6px;
    width: 98px;
}

.dropdown:hover .drpcontent {
    display: block;
    margin-left: 200px;
}


.dropdown-btn:hover {
    background-color: rgba(136, 240, 126, 0.87);
}

.drpcontent a {
    position:relative;
    display: block;
    text-align: center;
    text-decoration: none;
}


.dropdown:hover .drpcontent a {
    display: block;
}

.drpcontent a:hover {
    background-color: rgba(121, 110, 110, 0.315);
}